<div class="justify-content-center align-items-center text-center">
  <h1>Round Tracker</h1>
  <p>Home to all of the golf stats that matter most to your wallet</p>

  <!-- ALL ROUNDS DISPLAY -->
  <div class="flexbox-lg" style="padding: 15px">
    <table class="table table-hover table-bordered border-success text-light">
      <thead>
        <tr>
          <td>ID</td>
          <td>Course</td>
          <td>Score</td>
          <td>Green Fees</td>
          <td>Lost Balls</td>
          <td>Beverages</td>
          <td>Edit/Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let round of rounds">
          <td>{{ round.id }}</td>
          <td>{{ round.course }}</td>
          <td>{{ round.score }}</td>
          <td>{{ round.greenFee }}</td>
          <td>{{ round.lostBalls }}</td>
          <td>{{ round.beveragesConsumed }}</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                [routerLink]="['/edit', round.id]"
                type="button"
                class="btn btn-primary"
              >
                Edit
              </button>
              <button
                (click)="this.deleteRound(round.id)"
                type="button"
                class="btn btn-danger"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">Per round average</td>
          <td>{{ averages.avgScore | number : "2.0-1" }}</td>
          <td>${{ averages.avgFee | number : "1.0-2" }}</td>
          <td>
            {{ averages.avgBalls | number : "1.1-2" }}<br />@ $5/ea = ${{
              averages.avgBalls * 5 | number : "1.0-2"
            }}
          </td>
          <td>
            {{ averages.avgBevs | number : "1.0-1" }} <br />
            @ $8/ea = ${{ averages.avgBevs * 8 | number : "1.0-2" }}
          </td>
          <td>
            TOTAL<br />
            ${{
              averages.avgFee + averages.avgBevs * 8 + averages.avgBalls * 5
            }}/round
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
