@import "~bootstrap/dist/css/bootstrap.css";
#doc {
  background-repeat: no-repeat;
  background-size: inherit;
}
body{
  color: crimson;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
}
#add, #editor{
text-align: center;
margin-left: 10%;
}
#span {
  min-width: 190px;
  text-align: center;
}
#spanUSD {
  width: 10px;
}
#spanFee {
  min-width: 165px;
}
button {
  width: inherit;
  margin: 2px;
}
.input-group {
  margin: 1px;
}
input {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
